.User {
	background-color: rgb(160, 145, 145);
	border: 1px solid rgba(247, 242, 242, 0.8);
	box-shadow: 2px 2px 4px rgb(214, 205, 205);
	width: 400px;
	margin: 20px;
	color: rgb(95, 74, 49);
	border-radius: 3px;
}
